*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    padding: 1rem;
}

#checkbox{
    font-size: 18px;
    padding: 1rem;
    border: 1px solid black;
    height: 100vh;

}

.checks{
    display: flex;
    gap: .5rem;
}

button{
    margin-left: 1rem;
}

#datosImprimir{
    /* background-color: #EF4765; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
}

#datos{    
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    border: 1px solid black;
}
.logo{
    width: 25%;
}
.logo img{
    width: 100%;
}

.fecha {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;    
}

.diaContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{    
    /* border: 1px solid black; */
    padding: 1rem;
    
    border-right: 1px solid black;
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px rgb(203, 23, 32); */
    /* margin-bottom: 1rem; */
}
.cuadrado{
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 25px;
    width: 45px;
}

.colores div{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-top: .5rem;
}

#imprimir{
    position: absolute;
    bottom: 10%;   
}

.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
